.home-container{
    .title{
        font-size: 20;
        font-weight: 600;
        margin: 15px;
        text-align: center;
    }
    
    .table-attendance{
        text-align: center;
        table{
            width: 100%;
        }
        table,th,td{
            border: 1px solid black;
        }
    }
}